@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

#header {
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(243, 243, 255, 1) 0%, rgba(56, 56, 255, 1) 50%, rgba(197, 190, 255, 1) 100%);
    transition: 0.3s;
    z-index: 99;
}

.logo {
    margin-left: 50px;
    font-family: 'Playfair Display', serif;
}

.nav-bar {
    margin-right: 50px;
}

.list-container {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

.list {
    display: flex;
}

.element {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    transition: 0.5s;
}

.element:hover {
    transform: scale(1.25);
    color: #FFF;
}

#section1,
#section2,
#section3,
#section4,
#section5 {
    width: 100vw;
    height: 100vh;
}

#section1 {
    position: fixed;
    z-index: -1;
    background-image: url(1319219.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.welcome {
    color: rgb(216, 202, 255);
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;

}

.anano {
    font-size: 4rem;
}

.ana {
    font-size: 3rem;
}

.ano {
    font-size: 4.5rem;
}

#section3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wraper-section5 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact1 {
    font-size: 2.5rem;
    color: antiquewhite;
    font-family: 'Instrument Serif', serif;
}

.contact2 {
    font-size: 5rem;
    color: antiquewhite;
    font-family: 'Instrument Serif', serif;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.message {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message form {
    padding: 30px 50px;
    border: 2px solid white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transform: translateX(-25px);
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.inputbox {
    position: relative;
    padding: 20px 10px;
    border: 1px solid rgba(243, 243, 255, 1);
    background: transparent;
    border-radius: 5px;
    width: 70%;
}

.input-field {
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    text-indent: 10px;
    outline: none;
    border: none;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 1em;
    transition: 0.5s;
}

.input-text {
    position: absolute;
    top: 0;
    left: 10px;
    pointer-events: none;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: 700;
    transform: translateY(50%);
}

.text1 {
    background: transparent;
    border: 1px solid #f3f3ff;
}

.inputbox3 {
    position: relative;
    width: 100%;
    outline: transparent;
}

#text-area {
    border-radius: 5px;
    outline: transparent;
    padding: 15px;
    font-size: 1rem;
    color: #FFF;
    width: 100%;
    resize: none;
}

.submit {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: grab;
    transition: 0.3s;
}

.submit:hover {
    transform: scale(1.2);
}

.wraper-section3 {
    width: 60%;
    text-align: center;
    border: 10px solid rgb(82, 31, 223);
    padding: 50px;
    border-radius: 20px;
    gap: 10px;
    backdrop-filter: blur(30px);
}

.text {
    color: aliceblue;
    font-size: 2rem;
    font-family: 'Salsa', cursive;
}

.section4-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.skill {
    height: 270px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    border: 5px solid rgb(76, 14, 156);
    border-radius: 25px;
    gap: 10px;
    backdrop-filter: blur(30px);
    flex-grow: 1;
}

.skill i {
    font-size: 9rem;

}

.x1 {
    color: orange;

}

.x2 {
    color: #0000ff;
}

.x3 {
    color: yellow;
}

.x4 {
    color: green;
}

.res {
    display: none;
}

@media screen and (max-width: 992px) { 
    .wraper-section5 {
        flex-direction: column;
    }

    .contact {
        width: 100%;
        height: 20%;
        justify-content: flex-end;
    }

    .message {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .message form {
        padding: 20px 30px;
        transform: translateX(0);
        width: 80%;
    }

    #text-area {
        width: 90%;
    }
}

@media screen and (max-width:768px) {
    #header {
        height: 4rem;
    }

    #section1 {
        height: 200vh;
    }

    .nav-bar {
        position: fixed;
        width: 50vw;
        height: 120vh;
        top: 0;
        right: -50%;
        transform: translateX(50%);
        background-color: rgba(84, 14, 165, 0.336);
        backdrop-filter: blur(20px);
        margin: 0;
        transition: 0.5s;
    }

    .nav-bar.active {
        right: 0;
        transform: translateX(0);
    }

    .list-container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        gap: 100px;
        margin: 50px 0 0 50px;
    }

    .res {
        display: flex;
        font-size: 2rem;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .res:active, 
    .element:active {
        color: #FFF;
    }

    .section4-wrapper, 
    .wraper-section5 {
        height: 700px;
    }

    .menu {
        margin-right: 50px;
    }

    .text {
        font-size: 1.5rem;
    }

    .inputbox3 {
        width: 100%;
    }
}


@media screen and (max-width:610px) {
    .logo {
        margin-left: 30px;
    }

    .nav-bar {
        width: 100%;
    }

    .menu {
        margin-right: 30px;
    }

    .text {
        font-size: 1rem;
    }

    .ana {
        font-size: 1.5rem;
    }

    .ano {
        font-size: 2.5rem;
    }

    .skill {
        height: 20%;
        flex-direction: row;
        justify-content: space-between;
    }


    .skill i {
        font-size: 6rem;
        transform: translateX(30px);
    }

    .skill span {
        transform: translateX(-20px);
    }

    .contact2 {
        font-size: 3rem;
    }

    .contact1 {
        font-size: 1rem;
    }

}