@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.header {
    position:fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(243, 243, 255, 1) 0%, rgba(56, 56, 255, 1) 50%, rgba(197, 190, 255, 1) 100%);
}

.logo {
    margin-left: 50px;
    font-family: 'Playfair Display', serif;
}

.nav-bar {
    margin-right: 50px;
}

.list-container {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

.list {
    display: flex;
}

.element {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    transition: 0.3s;
}

.element:hover {
    transform: scale(1.25);
    color: #FFF;
}

#section1,
#section2,
#section3,
#section4,
#section5,
#section6 {
    width: 100vw;
    height: 100vh;
}

#section1 {
    position: fixed;
    z-index: -1;
    background-image: url(1319219.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}

#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.welcome {
    color: rgb(150, 166, 255);
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;

}

.anano {
    font-size: 4rem;
}

.ana {
    font-size: 3rem;
}

.ano {
    font-size: 4.5rem;
}

#section3 { 
    display: flex;
    justify-content: center;
    align-items: center;
}

#section6 {
    display: flex;
    justify-content: center;
    align-items: center;
}